<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
      
    <context:annotation-config />
    <context:component-scan base-package="com.perblo.security"/>
    
    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="customAuthenticationProvider"/>
    </authentication-manager>
    
    <beans:bean id="customLogoutHandler" class="com.perblo.security.CustomLogoutHandler">
        <beans:property name="defaultTargetUrl" value="/hostel/signin.xhtml" />
    </beans:bean>
    
    <beans:bean id="failureHandler"
                class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <beans:property name="redirectStrategy"  ref="customRedirectStrategy"  />
        <beans:property name="defaultFailureUrl" value="/hostel/signin.xhtml" />
    </beans:bean>

    <beans:bean id="authenticationProcessingFilter"
                class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
        
        <beans:property name="filterProcessesUrl" value="/j_spring_security_check" />
        <beans:property name="authenticationManager" ref="authenticationManager" />
        <beans:property name="authenticationFailureHandler" ref="failureHandler" />
        <beans:property name="authenticationSuccessHandler" ref="customAuthenticationSuccessHandler" />
    </beans:bean>     

    <beans:bean id="authenticationEntryPoint"
                class="com.perblo.security.CustomLoginUrlAuthenticationEntryPoint">
        <beans:constructor-arg value="/hostel/signin.xhtml"/>        
    </beans:bean>       
    
    <beans:bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
        <beans:constructor-arg>
            <beans:list>
                <beans:bean class="org.springframework.security.web.access.expression.WebExpressionVoter"/>
                <beans:bean class="org.springframework.security.access.vote.RoleVoter"/>                
                <beans:bean class="org.springframework.security.access.vote.AuthenticatedVoter"/>
            </beans:list>
        </beans:constructor-arg>
    </beans:bean>    
    
    <beans:bean id="sessionRegistry"
                class="org.springframework.security.core.session.SessionRegistryImpl" />
       
    <http access-decision-manager-ref="accessDecisionManager" auto-config="false" 
          entry-point-ref="authenticationEntryPoint" use-expressions="true">                       
       
        <intercept-url pattern="/admin/**" access="hasAnyRole('ROLE_HOSTEL APPLICATION ADMIN','ROLE_HOSTEL ADMIN')" /> 

        <logout  invalidate-session="true" success-handler-ref="customLogoutHandler"
              logout-url="/logout" delete-cookies="JSESSIONID" /> 
       
        <custom-filter position="FORM_LOGIN_FILTER" ref="authenticationProcessingFilter" />

        <session-management>
            <concurrency-control session-registry-ref="sessionRegistry" expired-url="/hostel/signin.xhtml" 
                max-sessions="1" error-if-maximum-exceeded="true" />
        </session-management>
        <csrf disabled="true"/>        
    </http>  
</beans:beans>
